@model MenuItem

<div class="card">
    <div class="card-body">
        <h5>@Model.Title</h5>
        <p>Price: @Model.Price</p>
        <p>Restaurant ID: @Model.RestaurantId</p>
        <p>Status: @Model.Status</p>
    </div>
</div>
