<form method="post">
    <input name="email" placeholder="Email" class="form-control" />
    <input name="password" placeholder="Password" type="password" class="form-control" />
    <button class="btn btn-primary mt-2">Login</button>
</form>
